.section.about
	div(class="container flex justify-end")
		.about__content
			h3.heading-top ABOUT US
			h2.heading-main
				| We Bring 
				span.heading-text Creative 
				| ideas to life.
			h4.heading-sub We love Creating
			p.about__text
				|Lorem ipsumNeque porro quisquam est qui do lorem ipsum quia dolor sit amet,  Neque porro elit NeDque porro  Lorem ipsum Neque porro Neque porro 
			p.about__text
				|Neque porro quisquam est qui do lorem ipsum quia dolor sit amet,  Lorem ipsum Neque quis ipsum 
			a.btn.link(href="#") rEAD more