.section.contacts
	div(class="container grid lg:grid-cols-2 grid-cols-1 lg:gap-[147px] gap-[91px]")
		.contacts__content
			h2.heading-main
				| Get in 
				span.heading-text TOUCH
			p.contacts__text
				| Lorem ipsum Neque porro quisquam est qui do lorem ipsum quia dolor sit amet, Neque porro elit Neque porro
			include ../components/contacts-info
		include ../components/contacts-form
