footer.footer(role='contentinfo')
	div(class="container flex flex-col items-center justify-between min-h-full")
		.footer__holder--top
			.footer__logo
				include ../components/logo
			include ../components/nav-footer
			.footer__text
				p Lorem ipsum Neque porro quisquam est qui do lorem ipsum quia dolor sit amet,  Neque porro elit NeDque   
			include ../components/socials
		.footer__holder--bottom
			p.copyright
				|Copyright &#0169 2003-
				span 2023 
				a(href="#") &#032; Creatic Agency
				|	&#032; All rights reserved.