.header(role='header')
	.container.flex.items-start.justify-between.w-full.relative
		include ../components/logo
		div(class='header__nav')
			include ../components/nav
			include ../components/search