.section.hero
	div(class="container")
		.hero__content
			h3.heading-top Welcome to creatic
			h2.heading-main.heading-main_lg 
				| WE ARE 
				span.heading-text CREATIVE 
				| DESIGN AGENCY
			p.hero__text
				|Lorem ipsumNeque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit Neque porro elit Neque porro quis ipsum
			a.btn.link(href="#") GET IN TOUCH