.section.services
	div(class="container grid md:grid-cols-2 grid-cols-1 gap-[91px]")
		.services__content
			h3.heading-top our services
			h2.heading-main
				| Experience the power of 
				span.heading-text innovation
				|.
			p.services__text
				|Lorem ipsum Neque porro quisquam est qui do lorem ipsum quia dolor sit amet,  Neque porro elit NeDque porro  Neque porro quisquam est qui do lorem ipsum quia dolor sit amets ipsum 
			a.btn.link(href="#") VIEW ALL
		include ../components/services