:root {
	/* Color Palette */
	--color-primary: #6d95fc;
	--color-primary-light: #6d95fc8c;
	--color-primary-dark: #6d95fc59;
	--color-secondary: #6b7280;
	--color-background: #000913;
	--color-background-secondary: #6d95fc00;
	--color-background-secondary-light: #1515154f;
	--color-text: #fff;
	--color-text-secondary: #94a3b8;
	--color-border: #fff;
	--color-border-secondary: #6d95fc;
	--color-error: #f00;
	--color-body: #000;
}
