@use "./normalize&reset" as *;
@use "./functions" as *;
@use "./mixins" as *;
@use "./variables" as *;
@use "./typography" as *;
@use "./forms" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-horizontal {
	height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-horizontal {
	background: var(--color-background-secondary);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb-horizontal {
	background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb-horizontal:hover {
	background: var(--color-primary-light);
}
